#Feedback{
	width:820px;
	margin:20px auto;
	font-family:courier;
}
#Feedback fieldset{
	border-radius:8px;
	font-size:30px;
	padding-bottom:20px;
	color:rgb(5,186,251);
}
legend{
	margin-left:22px;
}
#Feedback p{
	margin:30px;
	text-indent:2em;
	font-size:14px;
	color:#000;
}
#Feedback p span{
	margin-right:1em;
}
#Feedback p .info_explain{
	color:#555;
	font-size:12px;
}
#Feedback input{
	width: 167px;
    	height: 21px;
    	line-height: 21px;
    	padding-top: 3px;
   	padding-left: 11px;
    	border: 1px solid #D9D9D9;
    	border-top: 1px solid #C0C0C0;
    	box-shadow: 1px 1px 1px #eee inset;
    	margin-right: 15px;
	vertical-align: middle;
}
#Feedback #find_time{
	width:110px;
}
select{
	color: #666;
	width:100px;
	height:28px;
	position:relative;;
	top:3px;
	left:-8px;
}
select, input, textarea {
    	font-size: 12px;
    	font-family: "ו",Arial,Helvetica,sans-serif;
}
#problem{
	position:relative;
	top:-160px;
}
#fankuiwenti{
	position:relative;
	top:-160px;
}
textarea{
	width:500px;
    height: 156px;
    padding: 7px 11px;
    //color: #666;
    line-height: 18px;
    border: 1px solid #D9D9D9;
    border-top: 1px solid #C0C0C0;
    box-shadow: 1px 1px 1px #eee inset;
    overflow-x: hidden;
    overflow-y: hidden;
    resize: none;
    outline: none;
}
.fore{
	margin-left:2em;
}
.pic_buttton{
	margin-left:10em;
	margin-right:2em;
	
}
.file_button,.pic_buttton{
	position:relative;
	top:-15px;
}
#submit{
	width:120px;
	letter-spacing:2px;
	margin-left:38%;
	background:rgb(10,124,211);
}

#xianshi_info{
	margin:10px 40px;
	height:96%;
	//overflow-y:auto;
	//border-bottom:1px solid #aaa;
}
#xianshi_info div{
	border:1px solid #ccc;
	border-radius:10px;
	margin-bottom:15px;
	width:98%;
	background:rgba(245,245,245,0.8);
	padding-left:1em;
	padding-right:1em;
}
#xianshi_info div p{
	text-indent:0em;
	color:#444;
}
.main_left_ul li{
	text-align:center;
}
.Admini_right_div{
	background:rgb(92,181,219);
	padding:6px 1em;
	height:1.8em;
	margin-top:5px;
}
.Admini_right_div select{
	margin:0px;
	margin-left:0.8em;
	height:2em;
	position:relative;
	top:0px;
}
.Admini_right_div input{
	width:110px;
}
#all_info{
	float:right;
	margin-right:20px;
	cursor:pointer;
}
.clear_text{
	margin-left:20px;
	width:90%;
}
.clear_text p{
	font-size:18px;
	color:red;
}
.clear_btn{
	font-size:16px;
	border-radius:5px;
	padding:3px 6px;
	background:rgb(240,173,78);
	outline:none;
}
#clear_sql{
	background:#e22605;
	color:#fff;
}
#warning_message{
	text-align:center;
	border:1px solid rgb(200,0,0);
	width:550px;
	position:relative;
	top:-95px;
	left:170px;
	padding-bottom:0.5em;
	border-radius:8px;
	background:#fcccc2;
	display:none;
}
#info_many{
	margin-left:1em;
}
#renovate_data{
	background:rgb(38,168,212);
	border:none;
	outline:none;
	font-size:18px;
	margin-top:10px;
	margin-left:30px;
	cursor:pointer;
	border-radius:5px;
	padding:4px 8px;
}
.web_date,.library_data{
	border:1px solid #aaa;
	margin:20px;
	border-radius:8px;
	padding-left:1em;
	padding-top:0.5em;
}
.web_date h3,.library_data h3{
	color:rgb(0,153,204);
	margin:0px;
}